
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/bin/workerman.log

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# You need to retrieve this file from artifacts or create it with TwoPlusTwo evaluator
src/Service/CardRank/HandRanks.dat

# Paseto keys used for authentication
/keys/
